{% extends 'base.html'%} 

{% block content %}

<body style="background-image: url('https://cdn.pixabay.com/photo/2017/03/02/08/58/background-texture-2110724__340.jpg'); background-repeat: no-repeat; background-size: cover;">


<div class="card-deck">
    <div class="card">
      <img src="https://popcorngala.files.wordpress.com/2015/01/leo-pic.jpg?w=300&h=300" class="card-img-top" alt="leonardo">
      <div class="card-body">
        <h5 class="card-title">Leonardo DiCaprio</h5>
        <p class="card-text">If you can do what you do best and be happy, you’re further along in life than most people.</p>
        <p class="card-text">Relly good one</p>
        <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
        <button type="button" class="btn btn-secondary"><a href ="/blog">Blog</a></button>
        <button type="button" class="btn btn-secondary"><a href ="/comments">Comment</a></button>
      </div>
    </div>

    <div class="card">
      <img src="https://d3kq2xhl2rew87.cloudfront.net/user/image/8/5/5/250x250/hodor_got_hbo_1200_3uEa2M0.jpg" class="card-img-top" alt="snow">
      <div class="card-body">
        <h5 class="card-title">Jon Snow</h5>
        <p class="card-text">I don't ever want t' leave this cave, Jon Snow. Not ever </p>
        <p class="card-text">Had to think really</p>
        <p class="card-text"><small class="text-muted">Last updated 8 mins ago</small></p>
        <button type="button" class="btn btn-secondary"><a href ="/blog">Blog</a></button>
        <button type="button" class="btn btn-secondary"><a href ="/comments">Comment</a></button>
      </div>
    </div>

    <div class="card">
      <img src="https://www.nndb.com/people/592/000346551/emilia-clarke-2-sized.jpg" class="card-img-top" alt="clarke">
      <div class="card-body">
        <h5 class="card-title">Emilia Clarke</h5>
        <p class="card-text">My father always said, 'Never trust anyone whose TV is bigger than their book shelf' - so I make sure I read.</p>
        <p class="card-text">True</p>
        <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
        <button type="button" class="btn btn-secondary"><a href ="/blog">Blog</a></button>
        <button type="button" class="btn btn-secondary"><a href ="/comments">Comment</a></button>
      </div>
    </div>
  </div>

  {% for x in index %}

<div class="card-deck">
    <div class="card">
      <img src="https://d3kq2xhl2rew87.cloudfront.net/user/image/8/5/5/250x250/hodor_got_hbo_1200_3uEa2M0.jpg" class="card-img-top" alt="clarke">
      <div class="card-body">
        <h5 class="card-title">{{x.body}}</h5>
        <p class="card-text">{{x.category}}</p>
        <p class="card-text">{{x.Comment}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-secondary"><a href ="/blog">Blog</a></button>
        <button type="button" class="btn btn-secondary"><a href ="/comments">Comment</a></button>
      </div>
    </div>
</div> 

</body>

{% endfor %}
{%endblock%}